In [43]:
import pandas as pd
import numpy as np
from copy import deepcopy
import sys
import numpy as np
from sklearn.model_selection import GridSearchCV
from xgboost import XGBRegressor

from importlib import reload
sys.path.append("D:/DST/")
import cathay_db as db
import utils as ut
import financial_statement as fs

reload(ut)
reload(fs)
import matplotlib.pyplot as plt
import datetime
import os
import xgboost as xgb
sys.path.append("./src")

from toolbox import print_progress_bar

# set max display rows
pd.set_option("display.max_rows", 200)

# set max display columns
pd.set_option("display.max_columns", 100)

# Set the float format to display without scientific notation
pd.options.display.float_format = '{:.4f}'.format

In [44]:
# select model 

# model_folder_name = '20230714_081331'
model_folder_name = '20230713_141623'
# model_folder_name = '20230712_173216'
# model_folder_name = '20230711_171428'
# model_folder_name = '20230711_110457'
# model_folder_name = '20230707_140403'
# model_folder_name = '20230706_141045'

# load setting from data/model/model_folder_name/setting.json
setting = ut.load_json(f'./data/model/{model_folder_name}/setting.json')

print(setting.keys())
print(setting['factor_columns'])

dict_keys(['start_index', 'rebalance_date_lst', 'factor_columns', 'target_cols', 'model_save_path', 'param_search', 'fit_params'])
['asset_qoq', 'asset_yoy', 'ppe_qoq', 'ppe_yoy', 'tobins_q', 'ni_4q_sum_qoq', 'ni_4q_sum_yoy', 'roe_4q_sum', 'roe_4q_sum_qoq', 'roe_4q_sum_yoy', 'opm', 'opm_qoq', 'opm_yoy', 'ocf_4q_sum / asset', 'ocf/asset_qoq', 'ocf/asset_yoy', '20_d_return', '40_d_return', '60_d_return', 'dividend_1Y_sum_yield_x', 'dividend_2Y_sum_yield_x', 'dividend_3Y_sum_yield_x', 'dividend_1Y_sum_yield_y', 'dividend_2Y_sum_yield_y', 'dividend_3Y_sum_yield_y', 'last_dividend_yield']

In [45]:
# create a list for model json file in model/model_folder_name
model_list = []
for model in os.listdir(f'./models/{model_folder_name}'):
    if model.endswith('.json'):
        # append the model path to model_list
        model_list.append(f'./models/{model_folder_name}/{model}')
# sort model_list
model_list.sort()

In [46]:
# load df_factor from data/model/model_folder_name/df_factor_all.feather
df_factor_all = pd.read_feather(f'./data/model/{model_folder_name}/df_factor_all.feather')

In [47]:
# load df_factor from data/model/model_folder_name/df_factor_all.feather
df_factor_all = pd.read_feather(f'./data/model/{model_folder_name}/df_factor_all.feather')

# create a dataframe for model mapping
df_model_mapping = pd.DataFrame()
df_model_mapping['rebalance_date'] = setting['rebalance_date_lst'][setting['start_index'] + 0:]
df_model_mapping['model_path'] = model_list
# convert rebalance_date to datetime
df_model_mapping['rebalance_date'] = pd.to_datetime(df_model_mapping['rebalance_date'])

# merge the df_model_mapping and df_factor_all
df_factor_all = pd.merge(df_factor_all, df_model_mapping, left_on='date', right_on='rebalance_date', how='left')
df_factor_all = df_factor_all.sort_values(['date','ticker']).reset_index(drop=True)
df_factor_all['model_path'].fillna(method='ffill', inplace=True)
df_factor_all['rebalance_date'].fillna(method='ffill', inplace=True)
df_factor_all.dropna(subset=['model_path'], inplace=True)

df_factor_all = df_factor_all.reset_index(drop=True)
df_factor_all.to_feather(f'./data/model/{model_folder_name}/df_factor_all_select.feather')

In [48]:
factor_columns = setting['factor_columns']

In [49]:
model_list = df_factor_all['model_path'].unique()
reb_lst = df_factor_all['rebalance_date'].unique()

In [50]:
df_predict_all = pd.DataFrame([])
df_feature_importance_all = pd.DataFrame([])
for i, model_path in enumerate(model_list):
    model = xgb.Booster()
    model.load_model(model_path)
    try:
        df_feature_importance = pd.DataFrame(model.get_score(importance_type='gain').items(), columns=['feature','importance'])
        df_feature_importance.sort_values('importance', ascending=False, inplace=True)
        df_feature_importance['date'] = reb_lst[i]
        df_feature_importance_all = pd.concat([df_feature_importance_all, df_feature_importance], axis=0)

        df_predict = df_factor_all[df_factor_all['rebalance_date'] == reb_lst[i]].reset_index(drop=True).copy()
        df_predict['predict'] = model.predict(xgb.DMatrix(df_predict[factor_columns]))
        df_predict_all = pd.concat([df_predict_all, df_predict], axis=0)
    except:
        print(reb_lst)

In [51]:
df_feature_importance_des = df_feature_importance_all.groupby('feature')['importance'].describe().sort_values('mean', ascending=False).reset_index()
df_feature_importance_des['IR'] = df_feature_importance_des['50%'] / df_feature_importance_des['std']
# rank IR
df_feature_importance_des['mean_rank'] = df_feature_importance_des['mean'].rank(ascending=False)
df_feature_importance_des['IR_rank'] = df_feature_importance_des['IR'].rank(ascending=False)

df_feature_importance_des.sort_values('mean', ascending=False, inplace=True)
df_feature_importance_des

,feature,count,mean,std,min,25%,50%,75%,max,IR,mean_rank,IR_rank
0,roe_4q_sum,76.0000,91.4492,18.5753,25.7051,81.9238,93.8565,105.8892,116.5277,5.0528,1.0000,3.0000
1,ni_4q_sum_yoy,74.0000,88.2915,24.2559,13.7843,69.5281,90.3702,106.5966,125.2219,3.7257,2.0000,10.0000
2,ppe_yoy,69.0000,87.1649,16.9690,15.8308,78.4958,90.5052,96.1841,115.9315,5.3336,3.0000,2.0000
3,60_d_return,76.0000,85.6922,37.3575,20.8760,58.2654,81.0494,111.0565,167.1882,2.1696,4.0000,22.0000
4,ocf/asset_qoq,70.0000,82.2592,30.7723,10.5663,62.0972,90.8601,103.9949,140.6539,2.9527,5.0000,14.0000
5,opm,76.0000,74.7512,25.1947,19.9211,51.4520,84.0850,97.0083,111.7028,3.3374,6.0000,11.0000
6,tobins_q,76.0000,74.0517,31.9009,11.8270,45.4894,73.5192,104.1948,131.0361,2.3046,7.0000,20.0000
7,40_d_return,76.0000,71.7515,17.1025,13.3756,63.7115,73.4746,81.7778,110.6360,4.2961,8.0000,6.0000
8,ocf_4q_sum / asset,76.0000,70.9969,24.4094,17.2047,52.1250,76.1753,89.0101,114.8017,3.1207,9.0000,13.0000
9,20_d_return,76.0000,70.8730,17.7533,21.2905,59.9398,74.0237,83.4699,98.1239,4.1696,10.0000,7.0000
10,roe_4q_sum_qoq,66.0000,69.8130,15.8431,17.7200,60.5539,71.7130,81.7479,95.4880,4.5265,11.0000,4.0000
11,last_dividend_yield,74.0000,69.4963,13.5756,17.8981,64.8902,73.6979,78.5768,86.9949,5.4287,12.0000,1.0000
12,roe_4q_sum_yoy,73.0000,69.4904,26.7655,12.2984,50.0702,62.6331,94.4003,153.6546,2.3401,13.0000,19.0000
13,ni_4q_sum_qoq,73.0000,66.8521,27.5653,0.5308,48.0322,71.4864,84.1683,129.2448,2.5933,14.0000,18.0000
14,opm_yoy,74.0000,63.1634,19.3888,12.8660,49.6705,63.0308,77.7965,101.2047,3.2509,15.0000,12.0000
15,ppe_qoq,76.0000,61.8307,22.0945,8.0759,50.4344,58.8758,79.9959,96.6523,2.6647,16.0000,17.0000
16,asset_yoy,68.0000,61.6847,14.4101,35.2470,49.9804,63.7566,73.5631,92.8751,4.4244,17.0000,5.0000
17,opm_qoq,71.0000,61.2554,23.5864,1.2553,44.1705,65.5057,77.6539,143.1052,2.7773,18.0000,15.0000
18,dividend_1Y_sum_yield_x,63.0000,58.4604,35.2583,1.3883,33.2178,46.1605,95.1616,133.8551,1.3092,19.0000,23.0000
19,dividend_2Y_sum_yield_x,69.0000,58.0548,23.8763,1.8427,40.7920,52.4917,77.0253,102.9146,2.1985,20.0000,21.0000
20,ocf/asset_yoy,74.0000,50.8101,13.4666,12.0982,42.0057,53.8925,60.2010,84.8341,4.0019,21.0000,9.0000
21,dividend_3Y_sum_yield_x,76.0000,46.8255,11.7398,14.1893,40.2228,48.5827,51.4782,77.3076,4.1383,22.0000,8.0000
22,asset_qoq,76.0000,44.4917,16.1433,12.7743,30.8431,43.9395,55.5099,80.3502,2.7218,23.0000,16.0000

In [52]:
i = 0

df_predict_describe_all = pd.DataFrame([])

for i in range(len(reb_lst)):
    df_predict = df_predict_all[df_predict_all['rebalance_date'] == reb_lst[i]].reset_index(drop=True).copy()
    # calc predict qcut
    df_predict['predict_qcut'] = pd.qcut(df_predict['predict'], 10, labels=False, duplicates='drop')
    df_predict_describe = df_predict.groupby('predict_qcut')['y'].describe().reset_index()
    df_predict_describe['date'] = reb_lst[i]
    df_predict_describe_all = pd.concat([df_predict_describe_all, df_predict_describe], axis=0)

In [53]:
df_predict_describe_all.groupby('predict_qcut')['mean'].describe().sort_values('mean', ascending=False)

               count   mean    std     min     25%    50%    75%    max
predict_qcut
9            74.0000 0.0483 0.1146 -0.2934 -0.0047 0.0594 0.1004 0.4710
8            74.0000 0.0420 0.1041 -0.2777 -0.0019 0.0481 0.0845 0.4430
6            76.0000 0.0399 0.1029 -0.2893 -0.0036 0.0455 0.0835 0.4256
4            76.0000 0.0372 0.1035 -0.3174 -0.0103 0.0424 0.0736 0.4632
7            75.0000 0.0364 0.1056 -0.3005 -0.0089 0.0477 0.0814 0.4375
5            76.0000 0.0361 0.1006 -0.2886 -0.0092 0.0398 0.0697 0.4567
1            76.0000 0.0348 0.1111 -0.3391 -0.0026 0.0316 0.0703 0.4883
2            76.0000 0.0344 0.1064 -0.3342 -0.0146 0.0385 0.0710 0.4787
3            76.0000 0.0330 0.1036 -0.3352 -0.0131 0.0310 0.0786 0.4320
0            76.0000 0.0268 0.1220 -0.3358 -0.0267 0.0255 0.0714 0.5291

In [54]:
df_predict_all = df_predict_all[df_predict_all['date'].isin(reb_lst)]
# df_predict_all['predict_group'] = df_predict_all.groupby('rebalance_date',group_keys=False)['predict'].apply(lambda x :pd.qcut(x, 5, labels=False))
df_predict_all['predict_rank'] = df_predict_all.groupby('rebalance_date',group_keys=False)['predict'].rank(ascending=False)
df_select = df_predict_all[df_predict_all['predict_rank']<=50]
df_select_return = df_select.groupby('date')['y'].mean()


def calculate_cagr(df):
    # Add 1 to all the quarterly returns
    df_plus_one = df + 1
    # Calculate the cumulative product of the returns
    cum_product = df_plus_one.cumprod()
    # Get the total number of years
    num_years = len(df) / 4
    # Calculate CAGR
    cagr = (cum_product.iloc[-1])**(1/num_years) - 1
    return cagr

In [55]:
print(f"SR: {((df_select_return + 1).prod()**(4/len(df_select_return)) -1 ) / (df_select_return.std() * np.sqrt(4)):.2f}")
# Assuming your DataFrame is named df_returns
cagr = calculate_cagr(df_select_return)
print(f"CAGR: {cagr:.2%}")
print(f"Std: {(df_select_return.std() * np.sqrt(4)):.2%}")

SR: 0.58
CAGR: 15.77%
Std: 27.34%

In [56]:
# follow code is not used because the top stocks is select by last dividend yield and predict_rank, 
# the result will fulfill the requirement (dividend yield >= 5% and predict_rank <= certain rank)

# dividend_min = 0.05
# df_dividend_filter = df_predict_all[df_predict_all['last_dividend_yield'] >= dividend_min].copy()
# df_predict_filter = df_predict_all[df_predict_all['predict_rank'] <= 300]
# df_dividend_select = pd.concat([df_dividend_filter, df_predict_filter]).drop_duplicates().reset_index(drop=True)
# df_dividend_select.sort_values(['date','ticker'], inplace=True)

## Consider Liquidity

In [57]:
# df_price_liquidity_flag.to_feather('./data/df_price_liquidity_flag.feather')
df_price_liquidity_flag = pd.read_feather('./data/df_price_liquidity_flag.feather')
df_price_liquidity_flag = df_price_liquidity_flag[['日期','股票代號','flag_all']]
df_price_liquidity_flag.columns = ['date','ticker','flag_all']


df_predict_all = pd.merge(df_predict_all, df_price_liquidity_flag, on=['date','ticker'], how='left')
df_select_pool = df_predict_all[df_predict_all['flag_all'] != 1].reset_index(drop=True).copy()

In [58]:
def top_n(df, n=5, columns=['last_dividend_yield', 'predict_rank'], ascending=[False, True]):
    return df.sort_values(by=columns, ascending=ascending).head(n)

df_select_pool = df_select_pool.reset_index(drop=True)
df_select_pool_top_50 = df_select_pool.groupby('date').apply(top_n, n=50, columns=['last_dividend_yield', 'predict_rank'], ascending=[False, True])

df_select_pool_top_50.reset_index(drop=True, inplace=True)
df_select_pool_top_50_return = df_select_pool_top_50.groupby('date')['y'].mean()
print("不做選股Buffer")
print(f"SR: {((df_select_pool_top_50_return + 1).prod()**(4/len(df_select_pool_top_50_return)) -1 ) / (df_select_pool_top_50_return.std() * np.sqrt(4)):.2f}")
# Assuming your DataFrame is named df_returns
cagr = calculate_cagr(df_select_pool_top_50_return)
print(f"CAGR: {cagr:.2%}")
print(f"Std: {(df_select_pool_top_50_return.std() * np.sqrt(4)):.2%}")

不做選股Buffer
SR: 0.49
CAGR: 12.52%
Std: 25.49%

In [59]:
df_select_pool.to_feather(f'./data/model/{model_folder_name}/df_select_pool.feather')

## Consider Turnover

In [60]:
apply_buffer_index = 0
base_portfolio_number = 50
buffer_portfolio_number = 150

In [61]:
df_select_pool = df_select_pool.reset_index(drop=True)
# get the base portfolio by base_portfolio_number 
df_select_pool_base = df_select_pool.groupby('date').apply(top_n, n = base_portfolio_number, columns=['last_dividend_yield', 'predict_rank'], ascending=[False, True]).reset_index(drop=True)
# get the buffer portfolio by buffer_portfolio_number
df_select_pool_buffer = df_select_pool.groupby('date').apply(top_n, n = buffer_portfolio_number, columns=['last_dividend_yield', 'predict_rank'], ascending=[False, True]).reset_index(drop=True)
df_select_pool_buffer.reset_index(drop=True, inplace=True)


apply_buffer_date = np.sort(reb_lst)[apply_buffer_index]
# string format
apply_buffer_date = pd.to_datetime(apply_buffer_date).strftime('%Y-%m-%d')
print(f'自 {apply_buffer_date} 開始使用 buffer 建構投組')

df_buffer_result = pd.DataFrame([])
# concat the data that date is smaller than apply_buffer_date to df_buffer_result
df_buffer_result = pd.concat([df_buffer_result, df_select_pool_base[df_select_pool_base['date'] < apply_buffer_date]], axis=0)
# print the max date in df_buffer_result
print(f"df_buffer_result['date'].max(): {df_buffer_result['date'].max()}")

for i in range(apply_buffer_index, len(reb_lst)):
    # get the slice data by reb_lst[i] in df_select_pool_buffer
    df_select_pool_buffer_temp = df_select_pool_buffer[df_select_pool_buffer['rebalance_date'] == reb_lst[i]].reset_index(drop=True)
    # get the slice data by reb_lst[i-1] in df_buffer_result, [i-1] is because we need to get the last portfolio
    df_buffer_result_temp = df_buffer_result[df_buffer_result['rebalance_date'] == reb_lst[i - 1]].reset_index(drop=True)

    # prepare the dataframe for finding the joint ticker
    df_new_temp = df_select_pool_buffer_temp[['date','ticker']].copy()
    df_new_temp['buffer'] = 1
    df_old_temp = df_buffer_result_temp[['date','ticker']].copy()
    df_old_temp['last_portfolio'] = 1

    # merge the df_old_temp and df_new_temp
    df_joint_temp = pd.merge(df_old_temp[['ticker','last_portfolio']], df_new_temp[['ticker','buffer']], on=['ticker'], how='outer')
    df_joint_temp['buffer'].fillna(0, inplace=True)
    df_joint_temp['last_portfolio'].fillna(0, inplace=True)
    df_joint_temp['total'] = df_joint_temp['buffer'] + df_joint_temp['last_portfolio']
    df_joint_temp = df_joint_temp[df_joint_temp['total'] == 2]

    # get the joint ticker
    joint_ticker = df_joint_temp['ticker'].unique()

    # get the priority portfolio by joint_ticker
    df_priority = df_select_pool_buffer_temp[df_select_pool_buffer_temp['ticker'].isin(joint_ticker)]
    # get the triviality portfolio by EXCLUDING joint_ticker
    df_triviality = df_select_pool_buffer_temp[df_select_pool_buffer_temp['ticker'].isin(joint_ticker) == False]
    # then find the (top n - len(df_priority)) number of stocks triviality portfolio
    df_triviality = df_triviality.groupby('date').apply(top_n, n = base_portfolio_number - len(df_priority), columns=['last_dividend_yield', 'predict_rank'], ascending=[False, True]).reset_index(drop=True)
    
    # concat the df_priority and df_triviality
    df_buffer_result_temp = pd.concat([df_priority, df_triviality], axis=0)

    # concat the df_buffer_result_temp to df_buffer_result
    df_buffer_result = pd.concat([df_buffer_result, df_buffer_result_temp], axis=0)

df_buffer_result.reset_index(drop=True, inplace=True)
df_buffer_result_return = df_buffer_result.groupby('date')['y'].mean()

df_buffer_result.to_feather(f'./data/model/{model_folder_name}/df_buffer_result_{apply_buffer_index}_{base_portfolio_number}_{buffer_portfolio_number}.feather')
print(f"SR: {((df_buffer_result_return + 1).prod()**(4/len(df_buffer_result_return)) -1 ) / (df_buffer_result_return.std() * np.sqrt(4)):.2f}")
# Assuming your DataFrame is named df_returns
cagr = calculate_cagr(df_buffer_result_return)
print(f"CAGR: {cagr:.2%}")
print(f"Std: {(df_buffer_result_return.std() * np.sqrt(4)):.2%}")

自 2004-03-15 開始使用 buffer 建構投組
df_buffer_result['date'].max(): NaT
SR: 0.52
CAGR: 13.50%
Std: 25.82%